main{
    min-height: 100px;
}

nav a{
    text-decoration: none;
}

li{
    background-color: yellow;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.current{
    text-transform: uppercase;
    background-color: lightgray;
}